<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
</head>

<body>
    <h1>URL Shortner</h1>
    <% if(locals.shortId) { %>
        <p>Shortened URL: <%= shortId %>
        </p>
        <% } %>
            <form method="post" action="/api/url">
                <label>Enter your URL:</label>
                <input type="text" name="redirectUrl" placeholder="http://www.abc.com" />
                <button type="submit">Generate URL</button>
            </form>

            <% if (locals.allDbUrls) { %>
                <table>
                    <thead>
                        <th>Short URL</th>
                        <th>Redirect URL</th>
                        <th>No. of clicks</th>
                    </thead>
                    <tbody>
                        <% locals.allDbUrls.forEach(url=> { %>
                            <tr>
                                <td>
                                    <%= url.shortId %>
                                </td>
                                <td>
                                    <%= url.redirectUrl %>
                                </td>

                                <td>
                                    <%= url.visitHistory.length %>
                                </td>

                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% } %>
</body>

</html>